<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/login2.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/css/Icons8-Windows-8-Printing-Book.ico" type="image/x-icon" />
    <style type="text/css">
    body,td,th {
	color: #FFF;
}
    </style>
</head>

  <body class="text-center" background="../static/css/Books4.png">

    <form class="form-signin" action="{{url_for('register')}}" method="POST">
        <img class="mb-4" src="../static/css/Bookslogo1.PNG" alt="" width="175" height="175">
        <h1 class="h3 mb-3 font-weight-normal">Books Inventory</h1>
        <div>
            {% with messages = get_flashed_messages()%}
                {% if messages%}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible">
                            <!-- <a href="{{url_for('logout')}}" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                            <strong>{{message}}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus><br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <label for="inputRepPassword" class="sr-only">Repete Password</label>
        <input type="password" id="inputRepPassword" class="form-control" placeholder="Repete Password" name="rep_password" required><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button><br>
        <h5>Already have an account ? </h><a href="{{url_for('logout')}}">Sign in</a>
    </form>
  </body>
</html>

